body{
    font-family: 'Roboto';
    font-size: 18px;
    color: white;
    background-color: #16033A;
}

header{
    background-color: #0F0227;
}

header h1{
    font-family: 'Bebas Neue';
    font-size: 48px;
    position: sticky;
}